<link rel="stylesheet" href="/styles/importer.css">

if location
	p #{count} developers from #{location}
	ul
		li
			a(href="/developer/exportToCSV?location=#{location}") Export to CSV &nbsp;
		li
			a(href="/developer/updateActivity?location=#{location}") Update activity
else
	p total developers: #{count}
	a(href="/developer/exportToCSV") Export to CSV

.container--filters
	form.filters(action="/developer")
		div
			fieldset.location
				legend Location filter
				input(type="text", name="location", placeholder="Filter by location...", size=50)
			fieldset.followers
				legend Sort By...
				select(name="sort_field")
					option followers
					option activity
			fieldset.activity
				legend Sort By Activity
				select(name="sort_order")
					option ASC
					option DESC
			fieldset
				button Filter list

each developer in developers
	if developer.email
		div.container--developer
			p Name: #{developer.name} (#{developer.username})
			p Company: #{developer.company}
			p Location: #{developer.location}
			p Email:
				a(href="mailto:#{developer.email}") #{developer.email}
			p Followers: #{developer.followers}
			p Profile:
				a(href="#{developer.html_url}" target="_blank") #{developer.html_url}
			p Blog:
				a(href=developer.blog_url target="_blank") #{developer.blog_url}
			p Activity: #{developer.activity} day(s) in the last year
